/* Color All */
*{
    box-sizing: border-box;
     margin: 0;
      padding: 0;
  }
  
  html,body{
    height: 100%;
  }
  
  body{
    background-color: #454745;
  }
  
  .back img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

  
  .box-min{
    width: 570px;
    height: 360px;
    background-color: #2b2c2b;
    float: right;
    margin: 35px 60px 0 0 ;
  }
  
  .img-machine{
    width: 380px;
    height: 400px;
    margin-left:10px ;
    margin-top: 35px;
  }
  
  #value{
    background-color:  #454745;
    margin: 90px auto;  
    width: 82%;
    height: 40px;
  }

  #cem{
    background-color:  #454745;
    margin: 90px auto;  
    width: 40%;
    height: 40px;
    margin: 0;
    margin-left: 39px;
  }
  #obs{
    background-color:  #454745;
    margin: 90px auto;  
    width: 40%;
    height: 40px;
    margin-top: -40px;
    margin-left: 289px;
  }
  /* .form-group .form-control{
    width: 80%;
    margin: 0 auto;
    background-color: #454745  ;
    color: #8b8a8a;
  }
   */
  /* .roy{
    color:  #6A6969;
    width: 260px;
    float: left;
    margin: 0 auto;
  } */
  
  .center{
    margin-left: 18px;
  }
  
  .footer {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top:-40px;
    /* padding: 0; */
  }
  
  .footer img{
    width: 25px;
    height: 25px;
    margin-left: 6px;
  }
   
  #bot{
    margin: -200px 1px 0 875px;
    background-color: #3F51B5;
    border: none;
  }