/* Color All */
*{
    box-sizing: border-box;
     margin: 0;
      padding: 0;
  }
  
  html,body{
    height: 100%;
  }
  
  body{
    background-color: #454745;
  }
  
  .back img{
    width: 30px;
    height: 30px;
    margin: 10px 17px;
}

  
.box-min{
  width: 570px;
  height: 360px;
  background-color: #2b2c2b;
  float: right;
  margin: 35px 60px 0 0 ;
}

.img-machine{
  width: 380px;
  height: 400px;
  margin-left:30px ;
  margin-top: 13px;
}

  
  #value{
    background-color:  #454745;
    margin: 90px auto;  
    width: 82%;
    height: 40px;
  }

 

  .center{
    margin-left: 18px;
  }
  
  .footer {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top:-25px;
  }
  
  .footer img{
    width: 25px;
    height: 25px;
    margin-left: 6px;
  }

  #bot{
  margin: -200px 1px 0 875px;
  background-color: #46d7eb;
  border: none;
  
  }